<%- include("headermyreservation") %>

<!-- The cars and their status with reservation option -->
<div class="carsContainer">
<% if(locals.carsList && carsList.length != 0) { %>
    <% carsList.forEach( (car) => { %>
    <div class="singleCarDetails">
        <%= car.CarID %> <br>   
        <%= car.Model %>
        <%= car.Year %><br>
        <%= car.PlateID %><br>
        <%= car.unitprice %>$<br>
        <img src="/car_images/<%= car.Model %>.png" alt='<%= car.Model %> image'>
        
        <!-- Display "reserve" button only if the car's status is "active" -->
        <% if(car.Status === "Active"||car.Status === "active" ) {%>
            <form class="submit" action="/reservation" method="get">
                <input type="hidden" name="CarID" value="<%= car.CarID %>">
                <input type="hidden" name="CustomerID" value="<%= customerDetails.CustomerID %>">
                <button type="submit">Reserve</button>
            </form>

            <% }else{%>
                Status : <%= car.Status %>
               <% } %>

                <!-- Office Details Button -->
        <a href="/office-details?CarID=<%= car.CarID %>" class="button">Office Details</a>

        <!-- History Button -->
        <a href="/car-history?CarID=<%= car.CarID %>" class="button">History</a>



    </div>
    <% }) %>
<% } else { %>
    <li><%= error %></li>
<% } %>

</div>

<!-- The cars and their status with reservation option -->

<%- include("footer") %>
