<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Car Rental Website</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        /* Add this style block to your existing head section */
        .book-now-button {
        background-color: transparent;
        color: black;
        border: 2px solid red;
        border-radius: 5px;
        padding: 3px 15px; /* Adjust padding as needed */
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin-top: 10px; /* Adjust margin as needed */
        cursor: pointer;
      }
      </style>

  </head>


  <body>

    

    <!-- Header -->
    <header class="">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand" href="/"><h2>Car Rental <em>Website</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                      </a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
                   <!---alsearch hnaa!!!!-->
     
          <li class="nav-item"><a class="nav-link" href="/myreservations"> My Reservations</a></li>
        </div>
    </nav>
  </header>

         
          
   
    <!-- Page Content -->
    <div
      class="page-heading about-heading header-text"
      style="background-image: url(assets/images/heading-6-1920x500.jpg)"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h2>Available Cars</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


  <!-- Product Listings -->
<!-- Product Listings -->
<section class="products">
    <div class="container">
        <div class="row">
            <% if(carsList && carsList.length > 0) { %>
                <% carsList.forEach((car) => { %>
                    <div class="col-md-4">
                        <div class="product-item">
                            <img src="/car_images/<%= car.Model %>.png" alt="<%= car.Model %> Image" class="product-image">
                            <h2><%= car.Model %> <%= car.PlateID %></h2>
                            <p>Year: <%= car.Year %></p>
                            <p>Status: <%= car.Status %></p>
                            <p>Price: <%= car.unitprice %> $</p>
                            <% if(car.Status === "Active" || car.Status === "active") { %>
                                <form action="/reservation" method="get">
                                    <input type="hidden" name="CarID" value="<%= car.CarID %>">
                                    <input type="hidden" name="CustomerID" value="<%= customerDetails.CustomerID %>">
                                    <span><button class="book-now-button"   type="submit">Reserve</button></span>
                                </form>
                            <% } else { %>
                                <p>This car is currently <%= car.Status %>.</p>
                            <% } %>
                            <a href="/office-details?CarID=<%= car.CarID %>">Office Details</a>
                            <small>
                  <strong title="passegengers"
                    ><i class="fa fa-user"></i> 5</strong
                  >
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <strong title="luggages"
                    ><i class="fa fa-briefcase"></i> 4</strong
                  >
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <strong title="doors"
                    ><i class="fa fa-sign-out"></i> 4</strong
                  >
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <strong title="transmission"
                    ><i class="fa fa-cog"></i> A</strong
                  >
                </small>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <div class="col-md-12">
                    <p>No cars available at the moment.</p>
                </div>
            <% } %>

        </div>
    </div>
</section>
<div class="col-md-12">
    <ul class="pages">
      <li><a href="#">1</a></li>
      <li class="active"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li>
        <a href="#"><i class="fa fa-angle-double-right"></i></a>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
 <!-- Bootstrap core JavaScript -->
 <script src="vendor/jquery/jquery.min.js"></script>
 <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 <!-- Additional Scripts -->
 <script src="assets/js/custom.js"></script>
 <script src="assets/js/owl.js"></script>
</body>
</html>